---
import Layout from '../layouts/Layout.astro';
---

<Layout title="P치gina no encontrada - Mavepo">

  <div class="container mx-auto px-4 m-32 text-center">
    <h1 class="text-9xl font-bold text-primary mb-4">404</h1>
    <h2 class="text-3xl font-bold mb-6">P치gina no encontrada</h2>
    <p class="text-xl text-gray-600 mb-8 max-w-lg mx-auto">
      Lo sentimos, la p치gina que est치 buscando no existe o ha sido movida.
    </p>
    <a href="/" class="bg-[rgb(175,30,45)] hover:bg-red-600 text-white px-6 py-3 text-base font-medium rounded-md">
      Volver al inicio
    </a>
  </div>
</Layout>

